<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Polar Pattern Explorer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E3E16DA1F303FFF008C434D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E3E16E91F304000008C434D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E3E16F41F304000008C434D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
